Repository mikalstill/pngtools: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, shellcheck, cppcheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Note: actionlint and shellcheck run in separate pre-commit
      # environments (golang vs python), so actionlint cannot use
      # shellcheck to lint inline 'run:' scripts in workflows here.
      # CI catches those issues because both are system-installed.
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: golang
        additional_dependencies:
          - github.com/rhysd/actionlint/cmd/actionlint@v1.7.10
        files: ^\.github/workflows/
        types: [yaml]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: python
        additional_dependencies:
          - shellcheck-py==0.10.0.1
        files: ^scripts/

      - id: clang-format
        name: clang-format
        entry: scripts/check-format.sh
        language: system
        always_run: true
        pass_filenames: false

      - id: cppcheck
        name: cppcheck
        entry: cppcheck --error-exitcode=1 --enable=warning,style --suppress=missingIncludeSystem --suppress=normalCheckLevelMaxBranches
        language: system
        types: [c]

      - id: build-and-test
        name: build and test
        entry: scripts/build-and-test.sh
        language: system
        always_run: true
        pass_filenames: false

Fix empty changelog in release workflow.
  .github/workflows/release.yml
Due: actionlint

Include test suite in release tarball.
  ARCHITECTURE.md
  Makefile.am
  README.md
Due: none

Add -t flag to pnginfo usage message.
  pnginfo.c
  tests/test_pnginfo.py
Due: cppcheck

Don't print fabricated resolution for PNGs without pHYs.
  man/pnginfo.sgml.in
  pnginfo.c
  tests/test_pnginfo.py
Due: cppcheck

Update docs for new test count and line count.
  AGENTS.md
  ARCHITECTURE.md
Due: none

Remove redundant `makerelease` script.
  makerelease
Due: none

Include configure script in release tarball.
  Makefile.am
  configure.ac
Due: none

Generate config.h via AC_CONFIG_HEADERS.
  Makefile.am
  config.h.in
  configure.ac
Due: none

Show tEXt chunks placed after IDAT in pnginfo.
  AGENTS.md
  ARCHITECTURE.md
  pnginfo.c
  tests/base.py
  tests/generate_test_images.py
  tests/test_pnginfo.py
Due: cppcheck

Add coverage-guided fuzz harnesses and CI workflow.
  .github/workflows/fuzz-failure.md
  .github/workflows/fuzz.yml
  .gitignore
  AGENTS.md
  ARCHITECTURE.md
  Makefile.am
  README.md
  fuzz/.gitignore
  fuzz/Makefile
  fuzz/README.md
  fuzz/dictionary.txt
  fuzz/fuzz_pngchunks.c
  fuzz/fuzz_pnginfo.c
  fuzz/seed-corpus.sh
  pngchunks.c
  pngchunks.h
Due: actionlint, cppcheck

Raise fuzz RSS limit to 4 GB.
  .github/workflows/fuzz.yml
Due: actionlint

Silence libpng errors and warnings in fuzz_pnginfo.
  fuzz/fuzz_pnginfo.c
Due: cppcheck

Add packaging status section to README.
  README.md
Due: none
